<!DOCTYPE html>
<html>
  <head>
    <title>SnapaskTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav">
      <% if current_manager %>
        <li class="nav-item"><%= link_to "Sign out", destroy_manager_session_path, method: :delete, class: "nav-link active" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Login", new_manager_session_path, class: "nav-link active" %></li>
      <% end %>
    </ul>
    <% if flash[:alert] %>
      <div class="alert alert-light text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-light text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
